#dynamics {
	display: none;
}

.admin-button-pad {
	position: relative;
	left: 10px;
}

.bold-me {
	font-weight: bold;
}

.btn-group-width {
	width: 100px;
}

.chat-title {
	font-size: 15px;
}

.fixed-table {
	width: 100%;
	table-layout: fixed;
}

.fixed-table td:nth-child(1) {
	width: 25%;
	vertical-align: middle !important;
}

.fixed-table td:nth-child(2) {
	width: 75%;
	word-wrap: break-word;
}

.form-login {
	display: none;
}

.logo_by {
	font-size: small;
}

.logo {
	width: 90px;
}

.logo-admin {
	width: 100px;
	position: relative;
	top: -5px;
}

.pad-left-20 {
	position: relative;
	left: 10px;
}

.pad-left-40 {
	position: relative;
	left: 40px;
}

.page-header-mod {
	margin: 0px 0px 20px;
}

.version {
	color: silver;
	font-size: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.pull-left
  {
  	background: #FFFFFF;
  	font-size: 15px;
  	padding: 3px 3px 3px 3px;
  }

title {
	font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
	font-size: 15px;
}
body {
  font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
  font-size: 15px;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 100%;
}

table {
        font-family: "Myriad pro","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
        width: 100%;
        font-size: 15px;
    }

    td, th {
        border: 1px solid #DDDDDD;
        text-align: left;
        padding: 12px;
    }


    th {
        background-color: #D4D5D6;
    }