<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/FileShareAgentSide.css">
  <script type="text/javascript" src="js/angular/angular.min.js"></script>
  <script type="text/javascript" src="js/angular/angular-route.min.js"></script>
  <script type="text/javascript" src="js/Controllers/app.js"></script>
  <script type="text/javascript" src="js/Controllers/FileShareController.js"></script>
  <script type="text/javascript" src="https://lpcdn.lpsnmedia.net/webagent/client-SDK.min.js"></script>
<!--   <script type="text/javascript">
      lpTag.agentSDK.init();

      var onSuccess = function(data){
        console.log('Callback Success !',data);
      }
      var onError = function(error){
          console.log('Callback Error: ',error);
      }
      lpTag.agentSDK.get('chatInfo.rtSessionId',onSuccess,onError);

  </script> -->
  <!-- <script type="text/javascript" src="../filelist.js"></script> -->
  </head>
  <body ng-app="fileshare">
    <br/>
    <div class="row">
        <div class="col m10 offset-m1">
            <!-- <span class="valign-wrapper left">Files By - [Visitor Name]</span> -->
            <div class="valign-wrapper right">
              <span class="logo_by">by:</span>
              <img src="https://stage-le-crm.navomi.com/images/LogoHorizontal.png" class="logo" alt="">
              <span class="version">v.1.0</span>
            </div>
        </div>
      <div class="col m1">

      </div>
    </div>
    <section ng-Controller="FileShareController">
    <div class="row">
      <div class="col m10 offset-m1">
      <a id="refresh" class="right btn small orange" ng-click="refreshfiles()"><i class="tiny material-icons">loop</i></a>
      </div>
      <div class="col m1">
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1">
        <table class="highlight">
            <thead>
              <tr>
                <th>File Name</th>
                <th>Size</th>
              </tr>
            </thead ng-Model="files">
              <tr ng-Repeat="file in files">
                <td><a href="/upload/{{file.filename}}" target="_blank">{{file.filename}}</a></td>
                <td>{{file.filesize}} KB.</td>
              </tr>
            <tbody>

            </tbody>
        </table>
      </div>
    </div>
    </section>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </body>
</html>
